[build]
  command = "npm install --legacy-peer-deps --no-audit --no-fund && npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NETLIFY_LOG_LEVEL = "debug"

